<% include ./partials/header %>
<div class="container">
    <div class="row">
        <div class="col">
            <h1 class="text-center pt-3">Welcome to Home Ledger</h1>
            <h4 class="text-center">Enter your daily expenses and get a monthly report.</h4>
        </div>
    </div>
    <div class="row py-4">
        <div class="col-sm-6 py-2">
            <div class="card">
            <div class="card-body">
                <h5 class="card-title">Create an Account</h5>
                <p class="card-text">Create an account in just seconds and start storing your daily expenses</p>
                <a href="/signup" class="btn btn-primary">Create Account</a>
            </div>
            </div>
        </div>
        <div class="col-sm-6 py-2">
            <div class="card">
            <div class="card-body">
                <h5 class="card-title">Manage multiple Houses</h5>
                <p class="card-text">Each account can manage multiple houses. Easily manage multiple houses by giving them unique names.</p>
                <a href="/house" class="btn btn-primary">Manage your houses</a>
            </div>
            </div>
        </div>
        </div>
        <div class="row pb-4">
        <div class="col-sm-6 py-2">
            <div class="card">
            <div class="card-body">
                <h5 class="card-title">Add Expenses on the fly</h5>
                <p class="card-text">Worry that you will forget the expense? Add the expenses anywhere from your phone or Laptop.</p>
                <a href="/house" class="btn btn-primary">Add an expense</a>
            </div>
            </div>
        </div>
        <div class="col-sm-6 py-2">
            <div class="card">
            <div class="card-body">
                <h5 class="card-title">Easily Delete an Expense</h5>
                <p class="card-text">Made a mistake? Want to delete the expense? Single tap to delete the expenses</p>
                <a href="/house" class="btn btn-primary">See your Expenses</a>
            </div>
            </div>
        </div>
    </div>
</div>
<% include ./partials/footer %>